body {
  font-family: Helvetica;
}

.display-btn {
  color: #888888;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 3px;
}

.node circle {
  fill: #888888;
  stroke: #fff;
  stroke-width: 2px;
}

.node text {
  fill: #888888;
  stroke: none;
  font-size: .6em;
}

.link {
  stroke: #cccccc;
  stroke-opacity: .6;
}

.sequence-base:hover {
  cursor: default;
}

.highlight {
  color: red;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

#sequence {
  font-family: "Courier New", Courier, monospace;
}

#dbn {
  font-family: "Courier New", Courier, monospace;
}
